.counter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter_button{
    padding: 20px;
    margin: 10px;
    font-size: 2rem;
    border-radius: 50px;
}
.inc_button{
    color: black;
    background-color: antiquewhiteblack;
}
.inc_button:hover{
    color: white;
    background-color: black;
    }
.dec_button{
    color: black;
    background-color: antiquewhiteblack;
 }
 .dec_button:hover{
    color: white;
    background-color: black;
 }
